/* globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

header {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav {
  margin-top: 10px;
}

header nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

footer {
  background-color: #001f3f;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.home {
  text-align: center;
  padding: 50px;
}

.links a {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.page {
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.output {
  margin-top: 20px;
}

.output h2 {
  font-size: 1.5em;
}

/* Basic styling */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001f3f;
  color: white;
  font-family: 'Arial', sans-serif;
}

/* Radar animation */
.atcContainer {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  animation: radar-spin 10s linear infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.radar {
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent 0%, rgba(0, 255, 0, 0.5) 50%, transparent 100%);
  border-radius: 50%;
  animation: radar-sweep 3s linear infinite;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  margin-top: 20px;
}

h1, h2 {
  margin: 0;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  margin-top: 5px;
}

/* Animations */
@keyframes radar-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes radar-sweep {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.commands-container {
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.command {
  padding: 10px;
  margin: 5px 0;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.command:hover {
  background-color: #005bb5;
}

.communication-panel {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

